name: Production Deployment

on:
  push:
    branches:
      - prod
  workflow_dispatch:
    

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Copy files to server
        uses: burnett01/rsync-deployments@7.0.1
        with:
          switches: -avzr --delete --exclude=node_modules --exclude=.git --exclude=.next --exclude=.github --exclude=.env
          path: ./
          remote_path: ~/business/
          remote_host: ${{ secrets.PROD_HOST }}
          remote_user: ${{ secrets.PROD_USER }}
          remote_key: ${{ secrets.PROD_SSH_KEY }}
          remote_port: 22

      - name: Deploy with Docker Compose
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.PROD_HOST }}
          username: ${{ secrets.PROD_USER }}
          key: ${{ secrets.PROD_SSH_KEY }}
          port: 22
          script: |
            cd ~/business
            echo "NODE_ENV=${{ secrets.NODE_ENV }}" > .env
            echo "PORT=${{ secrets.PORT }}" >> .env
            docker compose down
            docker compose build
            docker compose up -d
